/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape) {
.mainContainer {
    min-height: var(--header-height);
    width: 100vw;
    background-color: var(--strong-black);
    position : fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: 2.9vw;
    letter-spacing: 0.15vw;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
}

/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {
.mainContainer {
    min-height: var(--header-height);
    background-color: var(--strong-black);
    width : 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
     z-index: 9;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: calc(var(--screen-coeff) * 36px);
    letter-spacing: calc(var(--screen-coeff) * 2px);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
}