
.mainContainer {
    min-height: var(--header-height);
    background-color: var(--strong-black);
    width : 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
     z-index: 9;
}

.headerTitle {
    color: var(--dark-white);
    margin: 0;
    font-size: calc(38 * var(--ui-unit));
    letter-spacing: calc(2 * var(--ui-unit));
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
