/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape) {
    .mainContainer {
        --menu-width: 30vw;
        width: var(--menu-width);
        background-color: var(--medium-grey3);
        position: absolute;
        overflow-y: scroll;
        z-index: 1;
    }

    .visible {
        left: 0;
        transition: left 0.5s;
    }

    .hidden {
        left: calc(var(--menu-width) * -1);
        transition: left 0.5s;
    }
}

/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {
    .mainContainer {
        --menu-width: calc(var(--screen-coeff) * 330px);
        width: var(--menu-width);
        background-color: var(--medium-grey3);
        position: absolute;
        left: 0;
        overflow-y: scroll;
        z-index: 1;
    }

    .visible {
        left: 0;
        transition: left 0.5s;
    }

    .hidden {
        left: calc(var(--menu-width) * -1);
        transition: left 0.5s;
    }
}