
/* Landscape mode */
@media (orientation: landscape) {
    .menuButton {
        width: calc(110 * var(--ui-unit));
        max-width: 15%;
        align-self: center;
        overflow: hidden;
        height: calc(42 * var(--ui-unit));
        background-color: var(--medium-grey3);
        border: transparent;
        position: absolute;
        left: 4vw;
        border-radius: calc(var(--regular-border-radius) * 0.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menuIcon {
        color: var(--dark-white);
        height: calc(26 * var(--ui-unit));
        width: calc(26 * var(--ui-unit));
    }
}


/* Portrait mode */
@media (orientation : portrait) {

    .menuButton {
        width: 15%;
        max-width: 15%;
        height: 100%;
        background-color: transparent;
        border: none;
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menuIcon {
        color: var(--dark-white);
        height: calc(32 * var(--ui-unit));
        width: calc(32 * var(--ui-unit));
        max-width: 100%;
        position: absolute;
        margin-top: calc(3 * var(--ui-unit));
    }
}