
  .mainContainer {
    width: 100%;
    max-width: 100%;
    height: calc(90 * var(--ui-unit));
    border: none;
    border-bottom: 1px solid var(--light-grey);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bright-grey);
    margin: 0;
    font-size: calc(22 * var(--ui-unit));
    letter-spacing: calc(2 * var(--ui-unit));
    font-weight: 500;
    text-align: center;
    line-height: 1.4em;
    background-color: transparent;
    ;
  }

  .mainContainer:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
