.mainContainer {
    min-width: 100%;
    min-height: var(--tab-bar-height);
    height: var(--tab-bar-height);
    background-color: var(--strong-black);
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 calc(3 * var(--ui-unit));
    border-top: 1px solid var(--medium-grey);
}