/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape)  {

    .linkItem {
        background-color: transparent;
        border: none;
        position: relative;
        height: 100%;
        border-bottom: solid 0.38vw transparent;
    }

    .unselectedLinkItem:hover {
        color: var(--bright-grey);
        border-bottom: solid 0.38vw color-mix(in srgb, var(--strong-red) 60%, transparent);
    }
}

/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {

    .linkItem {
        background-color: transparent;
        border: none;
        height: 100%;
        white-space: nowrap;
        flex-shrink: 0;
    }
}