/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape) {
    .mainContainer {
        width: 100vw;
        height: var(--horiz-menu-height);
        background-color: var(--dark-grey);
        position: fixed;
        top: var(--header-height);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.3vw;
        z-index: 8;
    }

    .underline {
        background-color: var(--strong-red);
        min-height: 0.35vw;
        position: absolute;
        bottom: 0;
        transition: left 0.5s,
            width 0.5s;
    }
}

/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {
    .mainContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: var(--horiz-menu-height);
        background-color: var(--dark-grey);
        position: fixed;
        top: var(--header-height);
        overflow-x: scroll;
        column-gap: calc(15 * var(--scaled-px));
        padding: 0 calc(10 * var(--scaled-px));
        scrollbar-width: none;
        z-index: 8;
    }

    .underline {
        background-color: var(--strong-red);
        min-height: calc(6 * var(--scaled-px));
        position: absolute;
        bottom: 0;
        transition: left 0.4s,
            width 0.4s;
    }
}