/* ============================================================
   BASE VARIABLES - ALL SCREENS
   ============================================================ */

:root {
    --regular-card-width: calc(var(--regular-item-width) + var(--card-horizontal-padding) * 2);
    --headers-height: calc(var(--header-height) + var(--horiz-menu-height, 0px));
}


/* ============================================================
   BASE UTILITY CLASSES - ALL SCREENS
   ============================================================ */

.pageContent {
    background-color: var(--light-grey);
    width: 100vw;
    max-width: 100vw;
    min-height: 100dvh;
    padding-top: calc(var(--headers-height) + var(--large-margin-top));
    padding-bottom: var(--page-padding-bottom);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regularItem {
    width: var(--regular-item-width);
    max-width: 100%;
    border-radius: var(--regular-border-radius);
    min-height: var(--regular-item-height);
    margin-top: var(--regular-margin-top);
    padding: var(--regular-vertical-padding) var(--regular-horizontal-padding);
}

.mediumItem {
    width: var(--medium-item-width);
    max-width: 100%;
    min-height: var(--medium-item-height);
    border-radius: var(--regular-border-radius);
    padding: var(--medium-vertical-padding) var(--regular-horizontal-padding);
    margin-top: var(--regular-margin-top);
}

.largeItem {
    width: var(--large-item-width);
    max-width: 100%;
    min-height: var(--large-item-height);
    border-radius: var(--regular-border-radius);
    padding: var(--large-vertical-padding) var(--regular-horizontal-padding);
    margin-top: var(--regular-margin-top);
}

.largeCardItem {
    width: 100%;
    max-width: 100%;
    min-height: var(--large-item-height);
    border-radius: var(--regular-border-radius);
    margin-top: var(--regular-margin-top);
    padding: var(--large-vertical-padding) var(--regular-horizontal-padding);
}

.inputWithIcon {
    width: 85%;
    max-width: 85%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.card {
    max-width: 100%;
    padding: var(--card-padding);
    border-radius: var(--regular-border-radius);
    margin-top: var(--medium-margin-top);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grey);
}

.largeCard {
    padding: var(--large-card-padding);
    width: var(--large-card-width);
    max-width: 100%;
    border-radius: var(--regular-border-radius);
    margin-top: var(--large-margin-top);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grey);
}

.noTransition {
    transition: none !important;
}


/* ============================================================
   MARGIN UTILITY CLASSES - ALL SCREENS
   ============================================================ */

.mt-regular {
    margin-top: var(--regular-margin-top);
}

.mt-medium {
    margin-top: var(--medium-margin-top);
}

.mt-large {
    margin-top: var(--large-margin-top);
}

.mt-vlarge {
    margin-top: var(--very-large-margin-top);
}



/* ============================================================
   BORDER & BACKGROUND STYLES - ALL SCREENS
   ============================================================ */

.strongGreyBorder {
    background-color: transparent;
    border: 2px solid var(--strong-grey);
}

.strongRedBg {
    background-color: var(--bright-red);
    border: none;
}

.darkGreyBg {
    background-color: var(--dark-grey);
    border: none;
}



/* ============================================================
   RESPONSIVE VARIABLES AND CLASSES - DESKTOP LANDSCAPE
   ============================================================ */

@media (min-width: 1350px) and (orientation: landscape) {

    /* Main sizes of the components */
    :root {
        --header-height: 6.5vw;
        --horiz-menu-height: 3vw;

        --page-padding-bottom: 4vw;

        --regular-border-radius: 0.8vw;
        --regular-horizontal-padding: 1vw;
        --regular-vertical-padding : 0.65vw;
        --regular-item-width: 25vw;
        --regular-item-height: 3vw;

        --medium-vertical-padding : 0.80vw;
        --medium-item-width: 31vw;
        --medium-item-height: 3.3vw;

        --large-vertical-padding : 0.95vw;
        --large-item-width: 35vw;
        --large-item-height: 3.6vw;


        --regular-margin-top: 1.2vw;
        --medium-margin-top: 2vw;
        /* page padding top : */
        --large-margin-top: 2.5vw;
        --very-large-margin-top: 3.8vw;

        --card-horizontal-padding: 2vw;
        --card-padding: 3vw var(--card-horizontal-padding);

        --large-card-width: 40vw;
        --large-card-padding : 3vw var(--card-horizontal-padding) 4vw;
    }


    /* Components classes */
    .pageViewport {
        max-height: 100dvh;
        overflow-y: auto;
    }

    .desktopLargeItemWidth {
        width: var(--large-item-width);
    }

    .smallIcon {
        color: var(--light-grey);
        width: 1.6vw;
        height: 1.6vw;
    }

    .line {
        background-color: var(--bright-grey);
        min-height: 0.1vw;
    }

}


/* ===============================================================================
   RESPONSIVE VARIABLES AND CLASSES - PHONES / TABLETS / SMALL SCREENS / PORTRAIT
   =============================================================================== */

@media (max-width: 1350px) and (orientation: landscape), (orientation : portrait) {

    /* Main sizes of the components */
    :root {
        --header-height: calc(80 * var(--scaled-px));
        --tab-bar-height: calc(86 * var(--scaled-px));

        --page-padding-bottom: calc(var(--tab-bar-height) + calc(50 * var(--scaled-px)));

        --regular-border-radius: calc(10 * var(--scaled-px));
        --regular-horizontal-padding: calc(10 * var(--scaled-px));
        --regular-vertical-padding : calc(8 * var(--scaled-px));
        --regular-item-width: calc(280 * var(--scaled-px));
        --regular-item-height: calc(40 * var(--scaled-px));


        --medium-vertical-padding : calc(11 * var(--scaled-px));
        --medium-item-width: calc(340 * var(--scaled-px));
        --medium-item-height: calc(45 * var(--scaled-px));


        --large-vertical-padding : calc(13.5 * var(--scaled-px));
        --large-item-width: calc(380 * var(--scaled-px));
        --large-item-height: calc(50 * var(--scaled-px));


        --regular-margin-top: calc(15 * var(--scaled-px));
        --medium-margin-top: calc(25 * var(--scaled-px));
        /* page padding top : */
        --large-margin-top: calc(30 * var(--scaled-px));
        --very-large-margin-top: calc(45 * var(--scaled-px));


        --card-horizontal-padding: calc(20 * var(--scaled-px));
        --card-padding: calc(30 * var(--scaled-px)) var(--card-horizontal-padding) calc(35 * var(--scaled-px));

        --large-card-width: var(--large-item-width);
        --large-card-padding: calc(30 * var(--scaled-px)) var(--card-horizontal-padding) calc(45 * var(--scaled-px));
    }

    /* Components classes */


    .smallIcon {
        color: var(--light-grey);
        width: calc(20 * var(--scaled-px));
        height: calc(20 * var(--scaled-px));
    }

    .line {
        background-color: var(--bright-grey);
        min-height: 1px
    }

}


/* =========================================================================================
   RESPONSIVE VARIABLES AND CLASSES - PHONES / TABLETS / SMALL SCREENS : LANDSCAPE OVERRIDE
   ========================================================================================= */

@media (max-width: 1350px) and (orientation: landscape) {
    :root {
        --horiz-menu-height: calc(45 * var(--scaled-px));
        /* Large card width override */
        --large-card-width: calc(525 * var(--scaled-px));
    }
}