  .error {
      color: var(--strong-red);
  }

  .success {
      color: var(--light-green)
  }



  /* Desktop : Landscape */
  @media (min-width: 1350px) and (orientation: landscape) {

      /* Main fonts settings of the app */
      :root {
          --regular-font-size: 1.23vw;
      }

      .pageTitle {
          color: var(--dark-white);
          margin: 0;
          font-size: 2.5vw;
          letter-spacing: 0.15vw;
          font-weight: 500;
          text-align: center;
      }

      .pageSubtitle {
          color: var(--dark-white);
          margin: 0;
          font-size: 1.5vw;
          letter-spacing: 0.15vw;
          font-weight: 400;
          line-height: 1.4em;
          text-align: center;
      }

      .labelText {
          color: var(--dark-white);
          font-size: 1.3vw;
          font-weight: 600;
          letter-spacing: 0.1vw;
          margin: 0;
      }

      .largeText {
          color: var(--dark-white);
          font-size: 1.3vw;
          font-weight: 400;
          letter-spacing: 0.08vw;
          margin: 0;
      }

      .regularText {
          color: var(--dark-white);
          font-size: var(--regular-font-size);
          font-weight: 400;
          letter-spacing: 0.05vw;
          margin: 0;
          line-height: 1.4em;
      }

      .smallText {
          color: var(--dark-white);
          font-size: 1vw;
          font-weight: 400;
          letter-spacing: 0.05vw;
          line-height: 1em;
          margin: 0;
      }

      .warning {
          text-align: center;
          font-weight: 500;
          width: 100%;
          font-size: 1.2vw;
          letter-spacing: 0.05vw;
          margin : var(--regular-margin-top) 0 0 0;
          line-height: 1em;
      }
  }


  /* Portrait + Phones - Tablets - Small Screens : Landscape */
  @media (max-width: 1350px) and (orientation: landscape), (orientation : portrait) {

      /* Main fonts settings of the app */

      :root {
          --regular-font-size: calc(18 * var(--scaled-px));
      }

      .pageTitle {
          color: var(--dark-white);
          margin: 0;
          font-size: calc(30 * var(--scaled-px));
          letter-spacing: calc(2 * var(--scaled-px));
          font-weight: 500;
          text-align: center;
      }

      .pageSubtitle {
          color: var(--dark-white);
          margin: 0;
          font-size: calc(22 * var(--scaled-px));
          letter-spacing: calc(2 * var(--scaled-px));
          font-weight: 400;
          text-align: center;
      }

      .labelText {
          color: var(--dark-white);
          font-size: calc(19.5 * var(--scaled-px));
          font-weight: 600;
          letter-spacing: calc(1.3 * var(--scaled-px));
          margin: 0;
      }

      .largeText {
          color: var(--dark-white);
          font-size: calc(19 * var(--scaled-px));
          font-weight: 400;
          letter-spacing: calc(1.3 * var(--scaled-px));
          margin: 0;
      }

      .regularText {
          color: var(--dark-white);
          font-size: var(--regular-font-size);
          font-weight: 400;
          margin: 0;
          letter-spacing: calc(1 * var(--scaled-px));
          line-height: 1.3em;
      }

      .smallText {
          color: var(--dark-white);
          font-size: calc(16 * var(--scaled-px));
          font-weight: 400;
          margin: 0;
          line-height: 1em;
      }

      .warning {
          text-align: center;
          font-weight: 500;
          width: 100%;
          font-size: calc(18 * var(--scaled-px));
          margin : var(--regular-margin-top) 0 0 0;
          line-height: 1em;
      }

  }