/* Tablets (only for portrait, in landscape mode, tablets will display the desktop version with vw as unit of measure */
@media (max-width: 1100px) and (min-width: 600px) and (orientation: portrait) {
    :root {
        --scaled-px: 1.5px;
    }
}

/* Regular phones  */
@media (max-width: 600px) and (min-width: 390px) and (orientation: portrait) {
    :root {
        --scaled-px: 1px;
    }
}

/* Small phones */
@media (max-width: 390px) and (orientation: portrait) {
    :root {
        --scaled-px: 0.85px;
    }
}


/* Devices in landscape */
@media (max-height: 600px) and (orientation: landscape){
     :root {
        --scaled-px: 1px;
    }
}