/* Scaled pixel is used for screens too small to have fonts and measures in vw (13" laptops, tablets, phones) and when in portrait mode */


/* Tablets - Small Screens */
@media (max-width: 1350px) and (min-width: 500px) and (min-height: 500px) {
    :root {
        --scaled-px: 1.05px;
    }
}

/* 18px */
/* @media (min-width: 1400px) {
  html {
    font-size: 112.5%;
  }
} */

/* Regular phones - Portait */
@media (max-width: 500px) and (min-width: 391px) and (orientation: portrait) {
    :root {
        --scaled-px: 1px;
        --font-reg: 1.125rem;
    }
}

/* Small phones - Portrait */
@media (max-width: 390px) and (orientation: portrait) {
    :root {
        --scaled-px: 0.85px;
    }
}

/* Phones in landscape */
@media (max-height: 500px) and (orientation: landscape) {
    :root {
        --scaled-px: 0.95px;
    }
}