/* Desktop : Landscape */

@media (min-width: 1350px) and (orientation: landscape) {
    html {
        font-size: clamp(16.8px, 1.06vw, 24px);
    }
}


/* Scaled pixel is used for screens too small to have fonts and measures in vw (13" laptops, tablets, phones) and when in portrait mode */


/* Tablets - Small Screens */
@media (max-width: 1350px) and (min-width: 500px) and (min-height: 500px) {
    :root {
        --scaled-px: 1.05px;
    }

     html {
        font-size: 105%;
    }
}

/* Regular phones - Portait */
@media (max-width: 500px) and (min-width: 395px) and (orientation: portrait) {
    :root {
        --scaled-px: 1px;
    }

     html {
        font-size: 100%;
    }
}

/* Small phones - Portrait */
@media (max-width: 394px) and (orientation: portrait) {
    :root {
        --scaled-px: 0.85px;
    }

     html {
        font-size: 90%;
    }
}

/* Phones in landscape */
@media (max-height: 500px) and (orientation: landscape) {
    :root {
        --scaled-px: 0.95px;
    }

     html {
        font-size: 95%;
    }
}