/* Desktop : Landscape */

@media (min-width: 1600px) and (orientation: landscape) {
    /* VW UI UNIT = (PREVIOUS UI-UNIT PX VALUE / MIN-WIDTH) * 100      =>  (1.05 / 1600) * 100    */
    /* VW FONT SIZE = (PREVIOUS REM VALUE / MIN-WIDTH) * 100      =>  (16.8 / 1600) * 100    */

    :root {
        --ui-unit: 0.065625vw;
    }
    
    html {
        font-size: clamp(16.8px, 1.05vw, 24px);
    }
}


/* Tablets - Small Screens */
@media (max-width: 1600px) and (min-width: 500px) and (min-height: 500px) {
    :root {
        --ui-unit: 1.05px;
    }

     html {
        font-size: 105%;
    }
}

/* Regular phones - Portait */
@media (max-width: 500px) and (min-width: 395px) and (orientation: portrait) {
    :root {
        --ui-unit: 1px;
    }

     html {
        font-size: 100%;
    }
}

/* Small phones - Portrait */
@media (max-width: 395px) and (orientation: portrait) {
    :root {
        --ui-unit: 0.85px;
    }

     html {
        font-size: 95%;
    }
}

/* Phones in landscape */
@media (max-height: 500px) and (orientation: landscape) {
    :root {
        --ui-unit: 0.95px;
    }

     html {
        font-size: 95%;
    }
}