/* Scaled pixel is used for screens too small to have fonts and measures in vw (13" laptops, tablets, phones) and when in portrait mode */


/* Tablets - Small Screens */
@media (max-width: 1350px) and (min-width: 500px) and (min-height: 500px) {
    :root {
        --scaled-px: 1.05px;
    }
}

/* Regular phones - Portait */
@media (max-width: 500px) and (min-width: 390px) and (orientation: portrait){
    :root {
        --scaled-px: 1px;
    }
}

/* Small phones - Portrait */
@media (max-width: 390px) and (orientation: portrait) {
    :root {
        --scaled-px: 0.85px;
    }
}

/* Phones in landscape */
@media (max-height: 500px) and (orientation: landscape){
    :root {
        --scaled-px: 0.95px;
    }
}