/* Tablets  */
@media (max-width: 1100px) and (min-width: 600px) and (orientation: portrait) {
    :root {
        --screen-coeff: 1.5;
    }
}

/* Regular phones  */
@media (max-width: 600px) and (min-width: 390px) and (orientation: portrait) {
    :root {
        --screen-coeff: 1;
    }
}

/* Small phones */
@media (max-width: 390px) and (orientation: portrait) {
    :root {
        --screen-coeff: 0.85;
    }
}


/* Devices in landscape */
@media (max-height: 600px) and (orientation: landscape){
     :root {
        --screen-coeff: 1;
    }
}