/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape){

}


/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {


}