/* Desktop : Landscape */
@media (min-width: 1600px) and (orientation: landscape){

}


/* Portrait + Phones - Tablets - Small Screens : Landscape */
@media (max-width: 1600px) and (orientation: landscape), (orientation : portrait) {


}