/* Computer */
@media (min-width: 1100px) and (orientation: portrait),
(min-height: 600px) and (orientation: landscape){
  .body {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
    overflow-y: scroll;
  }
}


/* Phones */
@media (max-width: 1100px) and (orientation: portrait),
(max-height: 600px) and (orientation: landscape) {

  .body {
    width: 100vw;
    min-height: calc(100dvh - var(--header-height));
    padding-bottom: var(--page-padding-bottom);
    padding-top: var(--page-padding-top);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}